.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

body{
  margin:0;
  padding:0;

}


#stage{
  height:100%;
  display:grid;
  grid-template-columns: 1fr 1fr;

}

#tree{
  grid-column: 1;
  grid-row: 1;
}

#preview{
  grid-column: 2;
  grid-row: 1 / 3;

}

#properties{
  grid-column: 1;
  grid-row: 2;

}


.message{
  margin:20%;
  text-align:center;
}



/*
#container{

}

#left{
  width:50%;
  height:100%;
  float:left;


}

#right{
  width:50%;
  height:100%;
  float:left;

}

#tree{
  height:66%;
}

#properties{
  height:66%;
}

*/
